/*
ORDER OF PROPERTIES (* is the property name)

backgrounds
colors
display*, overlay*, visibility*, etc.
flex stuff
width*, height*
position*
positioning (top, bottom, etc)
margin, border, paddings
font (size, family, etc) 
text
extraneous
transition
*/
a#open{
    background-color: transparent;
    color: #ECB390; 
    display: block;
    position: fixed; 
    top: 0;
    left: 30px;
    font-size: 75px;
    text-decoration: none;
    transition: color 0.5s;
}
a#open:hover{
    color: #EB9B6A;
}

nav{
    background-color: #3C3C3C;
    display: inline-block;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    font-family: Jost, Geneva, monospace;
    z-index: 1;
    overflow-x: hidden;
    transition: width 0.5s;
}
nav a{
    color: #FCF8E8;
    display: block;
    top: 0;
    padding: 5px 0px 5px 20px;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s;
}
nav a#close{
    position: absolute;
    top: -15px;
    right: 25px;
    margin-left: 50px;
    font-size: 75px;
}
nav a:hover{
    color: #FFF1B9;
}
nav a:active{
    color: #ECB390;
}

nav .tutorial-dropdown{
    display: block;
    position: relative;
}
nav .tutorial-content{
    background-color: #313131;
    width: 250px;
    max-height: 0;
    position: absolute;
    opacity: 0;
    overflow-y: hidden;
    transition: all 0.5s;
}
nav .tutorial-dropdown:hover .tutorial-content{
    max-height: 400%;
    opacity: 1;
}

nav footer{
    background-color: #3C3C3C;
    width: 300px;
    position: absolute;
    bottom: 50px;
    left: -22px;
    padding: 20px 0px;
    overflow: hidden;
}
nav footer a{
    display: inline;
    margin: 5px;
    padding-left: 4px;
}
nav footer .social{
    display: inline;
    position: relative;
    padding: 30px;
}
nav footer .social img{
    display: inline-block;
    width: auto;
    height: 50px;
    position: absolute;
    top: 15px;
    left: 30px;
}
nav footer p{
    color: #FCF8E8;
    position: relative;
    font-weight: 200;
    text-align: center;
}

/* Eric helped me with the idea of opacity and overlapping images.*/
.idle{ opacity: 100; }
.active{ opacity: 0; }
.idle, .active{
    position: relative;
    transition-property: height, opacity, top, left;
    transition-duration: .3s, .5s, .2s, .2s;
    transition-timing-function: ease;
}
.social:hover .idle{ opacity: 0; }
.social:hover .active{ opacity: 100; }
.social:hover .idle, .social:hover .active{
    height: 58px;
    top: 11px;
    left: 26px;
}