body{
    background-color: #FCF8E8;
}

body > .text, div#irl-recursion > .text{
    margin: 20px 40px;
    font-family: Muli, Geneva, sans-serif;
}
h3.text{
    color: #D64B2C;
    display: block;
    text-align: center;
    font-size: 32px;
}
h4.text{
    color: #e9745a;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.image{
    position: relative;
    text-align: center;
    margin: auto;
}
.image img{
    width: auto;
    max-width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    display: block;
    margin: 10px auto;
}
.image a{
    color: #eb9f48;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}
.image a:hover{
    color: #e9745a;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.code-block{
    background-color: #414141;
    border: 10px solid #414141;
    border-radius: 10px;
    text-align: left;
    width: 80%;
    height: auto;
    margin: auto;
    overflow: auto;
}
.code-block .text{
    color: #6ecc56;
    font-family: Consolas, monospace;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
}
.code-block .text b{
    color: #737a71;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}
.code-block .text i{
    color: #a9bda4;
    padding: 0;
    margin: 0;
    font-weight: inherit;
}

.spacer{
    display: block;
    height: 50px;
}

@media only screen and (min-width:900px) {
    .code-block{ width: 800px; }
    body > .text{ margin: 20px 22vw; }
}